body {background-color: white;
    color:white;
    width: 100%;
    text-align: center;
    
  }
  
#action__upload{
    margin: auto;
    text-align: center;
    width: 50%;
   
    padding:10px;
    font-size: xx-large;
    color:black;
   
   
  }
  #uploadFile__icon{
    margin: auto;
    vertical-align: center;
    padding: 20px;
    text-align: center;
  
  }
  #videoName-label{
    color:black;
    font-size: large;

  }
  #videoName{
    background-color: #fa5B30;
    width:35%;
    height: 30px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding-top: 5px;
    font-size: large;
    color:white;
  }
  #videoDescription-label{
    color:black;
    font-size: large;
  }
  #videoDescription{
    background-color: #fa5B30;
    width:35%;
    height: 30px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding-top: 5px;
    font-size: large;
    color:white;
  }
  #discordChannel-label{
    color:black;
    font-size: large;
  }
  #discordChannel{
    background-color: #fa5B30;
    width:35%;
    height: 30px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding-top: 5px;
    font-size: large;
    color:white;
  }
  #video-file-label{
    background-color: #fa5B30;
    width:50%;
    height: 60px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding-top: 30px;
    font-size: x-large;
    color:white;
  }
  #information{
    margin: auto;
    text-align: center;
    width: 50%;
    height: 250px; 
    padding:10px;
    font-size: xx-large;
    color:black;
   
   
  }
  #video-information{
    width:50%;
    
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding-top: 30px;
    color: #fa5B30;
    font-size: x-large;

  }
  #chunk-information{
    width:50%;
   
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding-top: 30px;
    color: #fa5B30;
    font-size: x-large;

  }
  #file-update{
    width:50%;
   
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding-top: 30px;
    color: #fa5B30;
    font-size: x-large;

  } #footer{
    font-size: large;
    color: black;
    padding:10px;
  }